@font-face {
    font-family: "Roboto";
    src: url("/Roboto/Roboto-Black.ttf") format("truetype"),
         
  }

/* Universal Selector */
* {
    font-family: Roboto;
  }

/* class selector */
.MainTitle{
    background-color: rgb(134, 219, 175);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 25px;
    border-style: solid;
    border-color: hsl(152°, 82%, 9%);
    border-width: 0.4em;
    border-radius: 10pt;
    position: static;
    font-family: sans-serif;
}

/* ID selector */
#hello:active{
    padding: 50px;
    background-color: blue;
    color: brown;
}

/* Pseudo-class Selector */
#myHeader:hover{
    color: #072616;
    text-decoration: underline;
}

.Attendance{
    background-color: white;
    margin-top: 400cm;
    margin-bottom: 40pc;
    
}

/* Element Selector */
h3{
    margin: auto;
    padding: 5ch;
    height: 4ex;
    width: 4ex;
    max-width: 40px;
    min-width: 40px;
}

/* Attribute Selector */
a[href="https://github.com/"] {
    color: green;
    position: fixed;
  }

/* Selector List */
.Agenda, .VideoAndAudio, .Questions{
    padding: 2px;
    background-color: blanchedalmond;
}

/* Descendant Combinator */
ol li{
    padding: 2px;
    margin:5px;

}

/* Child Combinator */
details > summary{
    background-color: aqua;
    margin:50px;
}

/* General sibling combinator */
h3 ~ p{
    background-color: aquamarine;
    padding: 5px;
    margin:5px;
}

/* Adjacent sibling combinator  */
img + details{
    background-color: blue;
    padding: 5px;
    margin:5px;
    display: none;
}

/* Combining Two Selectors */

div.Business{
    padding: 5px;
    margin:5px;
    background-color: red;
    
}

.Audio{
    
    display: inline-block;
}

.video{
    display: inline;
}

.img1{
    display: block;
}

.Business{
    display: flex;
    flex-direction: row;
    flex-grow: 4; 
    flex-shrink: 3;
}

.VideoAndAudio{
    display: grid;
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
}

@media (color) {
    p {
      color: pink;
    }
  }